/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
.banner {
    width: 100%;
    padding: 0;
    background-color: var(--banner-background);
    color: var(--white);
    display: inline-block;
}

.banner * {
    background-color: transparent !important; /*delete !important (or the whole line) when the pink is gone*/
}

.banner > .container {
    padding-left: 0;
    padding-right: 0;
}

.banner-cloud-text {
    color: var(--primary-light-blue);
}

.banner-img-container {
    position: relative;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
}
/* hero: end */

/* domains name search and price: start */
.dn-search {
    border: 1px #e8e8e8 solid;
    max-width: 570px;
}
/* domains name search and price: end */

/* install: start */
/* install: end */

/* hosting plans: start */
/* hosting plans: end */

/* review - success rating: start */
/* review - success rating: end */

/* Our best services: start */
/* Our best services: end */

/* Start with Hostpack: start */
/* Start with Hostpack: end */

/* Hostpack services: start */
/* Hostpack services: end */

/* subscribe newsletter: start */
/* subscribe newsletter: end */

/* global data center locations: start */
/* global data center locations: end */

/* testimonials: start */
/* testimonials: end */

/* blog: start */
/* blog: end */

/* footer: start */

footer {
    width: 100%;
    background-color: var(--footer-background);
    color: var(--white);
    line-height: 1.5;
    background-image: url(/img/footer/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.hostpack {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-logo {
    width: 235px;
    position: relative;
    top: -10px;
}

.footer-text {
    font-size: 18px;
}

.fa-phone-square {
    position: relative;
    top: 5px;
}

.footer-social {
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.footer-icon:hover {
    color: var(--footer-blue);
}

.footer-cards-icon {
    width: 300px;
}

.footer-copyright {
    font-size: 15px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: var(--white);
    text-decoration: none;
    list-style: none;
    font-size: 17px;
}

.footer-section-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-section-sub-title {
    font-size: 22px;
    margin-top: 33px;
    margin-bottom: 20px;
}

.badges {
    display: inline-block;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    padding: 2px 10px;
    font-size: 12px;
    margin-left: 5px;
    line-height: 1;
    background-color: var(--footer-blue);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.red-badges {
    background-color: var(--footer-red);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 30px 30px 32px;
    background-color: rgba(13, 35, 82, .3);
}

.blog-date {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--footer-blue);
}

.blog {
    font-size: 17px;
    font-weight: 700;
}

.blog:hover {
    color: var(--footer-blue);
}

.footer-certificate {
    position: relative;
}

.footer-certificate::before {
    content: '';
    display: inline-block;
    background-color: var( --footer-line);
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
}

.test {
    display: flex;
    gap: 220px;
}

.footer-terms {
    color: var(--footer-blue);
}

.footer-certi-img {
    width: 394px;
    height: 34px;
}
/* footer: end */
