/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
.banner {
    width: 100%;
    padding: 0;
    background-color: var(--banner-background);
    color: var(--white);
    display: inline-block;
}

.banner * {
    background-color: transparent !important; /*delete !important (or the whole line) when the pink is gone*/
}

.banner > .container {
    padding-left: 0;
    padding-right: 0;
}

.banner-cloud-text {
    color: var(--primary-light-blue);
}

.banner-img-container {
    position: relative;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
}
/* hero: end */

/* domains name search and price: start */
.dn-search {
    border: 1px #e8e8e8 solid;
    max-width: 570px;
}
/* domains name search and price: end */

/* install: start */
/* install: end */

/* hosting plans: start */
/* hosting plans: end */

/* review - success rating: start */
/* review - success rating: end */

/* Our best services: start */
/* Our best services: end */

/* Start with Hostpack: start */
/* Start with Hostpack: end */

/* Hostpack services: start */
/* Hostpack services: end */

/* subscribe newsletter: start */
/* subscribe newsletter: end */

/* global data center locations: start */
/* global data center locations: end */

/* testimonials: start */
/* testimonials: end */

/* blog: start */
/* blog: end */

/* footer: start */

footer {
    width: 100%;
    background-color: var(--footer-background);
    color: var(--white);
    line-height: calc(26 / 16);
}

.map-img {
    position: absolute;
    left: 35%;
    transform: translateX(-35%);
    max-width: 900px;
    filter: opacity(15%);
}

.footer-hostpack-icon {
    width: 214px;
}

.footer-cards-icon {
    width: 304px;
    
}

.footer-icon:hover {
    filter: brightness(0)
    saturate(100%)
    invert(24%)
    sepia(95%)
    saturate(673%)
    hue-rotate(159deg)
    brightness(93%)
    contrast(103%)
}

.footer-copyright {
    font-size: 13px;
}

a {
    color: var(--white);
    text-decoration: none;
}

ul {
    list-style: none;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin-top: 33px;
    margin-bottom: 20px;
    font-weight: 700;
}

.badges {
    display: inline-block;
    position: relative;
    top: 5px;
    text-transform: uppercase;
    padding: 2px 10px;
    font-size: 12px;
    margin-left: 5px;
    line-height: 1;
    text-decoration: none;
    background-color: var(--footer-blue);
    color: var(--white);
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.red-badges {
    background-color: var(--footer-red);
}

.footer-container {
    width: 328px;
    padding: 30px 30px 32px;
    background-color: rgba(13, 35, 82, .3);
}

.blog-date {
    font-size: 11px;
    margin-bottom: 7px;
    text-transform: uppercase;
    color: var(--footer-blue);
}

.blog {
    line-height: 1,5;
    font-size: 17px;
    font-weight: 700;
    transition: all;
}

.blog:hover {
    color: var(--footer-blue);
}
.footer-certificate {
    width: 400px;
    float: right;
}
/* footer: end */