/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header: start */
/* header: end */

/* hero: start */
.banner {
    width: 100%;
    padding: 0;
    background-color: var(--banner-background);
    color: var(--white);
    display: inline-block;
}

.banner * {
    background-color: transparent !important; /*delete !important (or the whole line) when the pink is gone*/
}

.banner > .container {
    padding-left: 0;
    padding-right: 0;
}

.banner-cloud-text {
    color: var(--primary-light-blue);
}

.banner-img-container {
    position: relative;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
}
/* hero: end */

/* domains name search and price: start */
.dn-search {
    border: 1px #e8e8e8 solid;
    max-width: 570px;
}
/* domains name search and price: end */

/* install: start */
/* install: end */

/* hosting plans: start */
/* hosting plans: end */

/* review - success rating: start */
.corners{
    box-shadow: 0px 0px 30px var(--shadow);
    border-radius: 10px;
    background-image: url(../../img/succes-rating/funfact-pattern.png);
    padding: 10px;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  

.success-number{    
    font-family: "Open Sans",sans-serif;
    display: block;
    text-align: center!important;
    font-size: 40px;
    font-weight: 700;    
    margin-bottom: 10px;
    margin-top: 10px;
    transition: --num 1s;
    counter-reset: num var(--num);
}

.success-number::after{    
    content: "+";
    position: absolute;
    font-size: 20px;
}

.success-name{
    display: block;
    text-align: center!important;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* review - success rating: end */

/* Our best services: start */
/* Our best services: end */

/* Start with Hostpack: start */
.get-started {
    font-size: 14px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.benefit {
    display: flex;
}

.benefit > img {
    

}

.benefit > p {
    

}
/* Start with Hostpack: end */

/* Hostpack services: start */
/* Hostpack services: end */

/* subscribe newsletter: start */
/* subscribe newsletter: end */

/* global data center locations: start */
/* global data center locations: end */

/* testimonials: start */
/* testimonials: end */

/* blog: start */
/* blog: end */

/* footer: start */

footer {
    width: 100%;
    background-color: #113072;
    background-image: url(/footer.img/map.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26 / 16);
}

.row {
    position: relative;
}

.cards {
    width: 300px;
}

.certificate {
    width: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* footer: end */